<% sub_header do %>Forums<% end %>
<% content do %>
  <% recordset :headers => ["Forum", ["Topics", {:class => "number"}], ["Posts", {:class => "number"}]], :table => {:class => "forums"} do %>
    <tbody>
      <% @forums.each do |forum| %>
        <% zebra_row do %>
          <td>
            <span class="forum-title"><%= link_to forum.name, forum %></span><br/>
            <%= textilize forum.description %>
          </td>
          <td class="number"><%= forum.topics_count %></td>
          <td class="number"><%= forum.posts_count %></td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
<% end %>
<% extra_content do %>
  <% section "Add a Forum", @forums.can_be_created_by_current_user? do %>
    <ul>
      <%= tab "Add a Forum", new_forum_path %>
    </ul>
  <% end %>
<% end %>